/* *** *** *** CUSTOM STYLINGS *** *** *** */
/* --- --- General --- --- */
body {
  margin: 0;
  padding: 0;
  font-family:  "Roboto", sans-serif;
}

/* --- --- Header --- --- */

/* --- --- Main: Map --- --- */
#map-div,
main,
#wrapper{
width: 100%;
  height: 90vh;
}


/* --- --- Aside --- --- */
#wrapper-aside,
.wrapper-aside{
  height: 100vh;
  overflow-y: scroll;
  background:  #f7f7f7;
  padding: 1em;
}
#sidenav-overlay,
a.button-collapse{
 display: none;
}
li{
    border-bottom: 1px grey;
}
/* --- --- Footer --- --- */
#footer {
    max-height: 10vh !important;
}
.page-footer{
    background-color: #f7f7f7 !important;
}
div.footer-copyright{
    height: 3vh !important;
    font-size: 0.75em !important;
    background-color: #7aaedd  !important;
}

/* *** *** *** RESPONSIVE *** *** *** */
@media only screen and (max-width: 992px) {
  /*overriding MatrializeCSS class */
    .hide-on-med-and-down {
    display: block !important;
  }
     #map-div{
          height: 400px;
          width: 100vw;
      }
      #wrapper-aside{
          display: block;
          width: 100vw;
          height: 100vh;
      }
}
